<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fba5b421-5458-4323-a527-6f660c73242a" Alias="basket" Level="1">
  <Info>
    <Name>Basket</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="26d08c10-09c6-4d6c-b278-0c68867d55cb">meta</Composition>
    </Compositions>
    <DefaultTemplate>Basket</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c4673-0b2e-7500-b955-3aebdd178b03">Basket</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>