<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3886749e-b4ac-4969-bbec-5f186a4c4696" Alias="basket" Level="1">
  <Info>
    <Name>Basket</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Basket</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4a8313d2-5515-42dd-aad3-50b341db8974">Basket</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>