<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5dd4a405-49e5-429c-ae4d-aac66b01dd70" Alias="category" Level="1">
  <Info>
    <Name>Category</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Category</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="871913c1-9afe-4edd-bbc0-28e04b16f1dc">Category</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5dd4a405-49e5-429c-ae4d-aac66b01dd70" SortOrder="0">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>