<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7972477a-f856-4902-b986-8593650b9a5c" Alias="category" Level="1">
  <Info>
    <Name>Category</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="f351167d-c50e-46d7-aa97-2ba20641bf9e">meta</Composition>
    </Compositions>
    <DefaultTemplate>Category</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ee94547b-e942-4e51-a733-598cc67c1fb0">Category</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b7260089-6063-4cab-9f02-a6881585deb1</Key>
      <Name>Collection</Name>
      <Alias>collection</Alias>
      <Definition>6f4d393f-4428-406a-be44-b01c700a78f6</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>90603508-0171-4f12-abc9-84225ab787e8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>