<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="04d326f7-5710-4ab9-afa2-fa2a430c18e5" Alias="category" Level="1">
  <Info>
    <Name>Category</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="26d08c10-09c6-4d6c-b278-0c68867d55cb">meta</Composition>
    </Compositions>
    <DefaultTemplate>Category</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c4672-d74a-765b-a040-c4a6606e730e">Category</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7af5232b-b673-4de2-ae01-d5c5472f2b91</Key>
      <Name>Collection</Name>
      <Alias>collection</Alias>
      <Definition>00699767-bc88-4e33-8c85-c7426873b5d4</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fa91dcc4-1b5e-41f2-8d91-437299adbe1b</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>