<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d391b23-c357-4ac8-89b4-f7f2f9db60df" Alias="website" Level="1">
  <Info>
    <Name>Website</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="876dc1ff-e246-431d-afa0-1df8b6e676dd">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1bb1f03e-7552-428b-88e7-9d86a20e4a0f" SortOrder="0">basket</ContentType>
    <ContentType Key="7972477a-f856-4902-b986-8593650b9a5c" SortOrder="1">category</ContentType>
    <ContentType Key="21ffd568-bbac-4592-ac7a-e69535b711b5" SortOrder="2">home</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>24301875-a150-4507-96e6-b30ebb997107</Key>
      <Name>Umbraco Internal Redirect ID</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a8e30e00-899d-4e61-b3a7-9d64b10d03d9</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>