<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="806f80c1-2d70-46df-a20e-1404e89e3ad5" Alias="website" Level="1">
  <Info>
    <Name>Website</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c196f-06d8-7f11-832e-29eea9cd4880">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="eebbfa79-9e72-47ee-8125-3e46d4da4d28" SortOrder="0">basket</ContentType>
    <ContentType Key="da822edb-697f-4370-9696-f9263c10fb23" SortOrder="1">category</ContentType>
    <ContentType Key="01c9027c-a76b-4f49-860e-1a83f6effa57" SortOrder="2">home</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>617b47b3-2bb7-4cdf-a892-82fa3f627dbf</Key>
      <Name>Umbraco Internal Redirect Id</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dcdb9e83-2451-4968-af7d-12b250f3fbf3</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>