<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="13005e15-1def-4e5f-81a1-4c607923f30d" Alias="website" Level="1">
  <Info>
    <Name>Website</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c4671-eaab-7a0f-862d-b47eba54185d">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fba5b421-5458-4323-a527-6f660c73242a" SortOrder="0">basket</ContentType>
    <ContentType Key="04d326f7-5710-4ab9-afa2-fa2a430c18e5" SortOrder="1">category</ContentType>
    <ContentType Key="847ca340-52fb-4924-bab3-353677b0c05f" SortOrder="2">home</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>730584f7-763e-47fd-9d9d-1db4e8b485ca</Key>
      <Name>Umbraco Internal Redirect Id</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a0d4ea2b-a334-44a1-a46d-2d20f4b849ec</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>