<?xml version="1.0" encoding="utf-8"?>
<Content Key="02a9053d-02bc-48e2-930d-576673d0bba3" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="7c681bab-458a-4a66-a36c-52af5ad31fae">Merchello</Parent>
    <Path>/Merchello/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-09T09:38:35</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c4672-d74a-765b-a040-c4a6606e730e">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[00bb4188-4224-4da6-a612-20a717500cd2]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>