<?xml version="1.0" encoding="utf-8"?>
<Content Key="a87ad5bf-f782-4bf7-b276-3f1f5d1da2f6" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="866a89b9-1062-4884-83d6-85dac559fe52">Merchello</Parent>
    <Path>/Merchello/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-01T13:42:40</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c1970-01a5-77e6-bf01-d516f28e76bb">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[e9dc5dd8-9d54-4cb3-aece-57122fab0120]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>