<?xml version="1.0" encoding="utf-8"?>
<Content Key="02a9053d-02bc-48e2-930d-576673d0bba3" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="7c681bab-458a-4a66-a36c-52af5ad31fae">Merchello</Parent>
    <Path>/Merchello/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-09T09:38:35</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c41c2-fb65-7ffb-a191-8fb95a52fb99">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[b882d166-ce6a-43b8-993d-7af15e408b08]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>