<?xml version="1.0" encoding="utf-8"?>
<Content Key="e15468d9-1d6a-4194-a798-0e11970e0c03" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="7c681bab-458a-4a66-a36c-52af5ad31fae">Merchello</Parent>
    <Path>/Merchello/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-09T09:38:49</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c4672-d74a-765b-a040-c4a6606e730e">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[c879290d-57cd-49f8-b424-a4cce057600e]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>