<?xml version="1.0" encoding="utf-8"?>
<Content Key="6af68116-c12e-41fb-a385-d5a493b223a7" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="866a89b9-1062-4884-83d6-85dac559fe52">Merchello</Parent>
    <Path>/Merchello/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-01T13:42:52</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c1970-01a5-77e6-bf01-d516f28e76bb">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[4eea7476-5f9f-454b-8849-30ce923c897c]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>