<?xml version="1.0" encoding="utf-8"?>
<Content Key="81bab4a2-9d44-4e0e-a885-3bc2d3cf18a2" Alias="Bags &amp; Totes" Level="2">
  <Info>
    <Parent Key="5740336d-ee41-4c37-a605-876265454ba3">Merchello</Parent>
    <Path>/Merchello/BagsTotes</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-12-23T13:13:23</CreateDate>
    <NodeName Default="Bags &amp; Totes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="871913c1-9afe-4edd-bbc0-28e04b16f1dc">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[0cc7c3e1-1e04-4731-90b5-c5f7cb7f22f8]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>