<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e4ac7e5-0563-4ef2-ad38-16f42cbfbc98" Alias="Basket" Level="2">
  <Info>
    <Parent Key="e0ae8d32-e641-4913-8a0b-e712ae8ce44c">Website</Parent>
    <Path>/Website/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2026-02-10T07:30:01</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c4673-0b2e-7500-b955-3aebdd178b03">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>