<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcf96890-35bf-4f29-bb45-a7e5328c4aad" Alias="Basket" Level="2">
  <Info>
    <Parent Key="2bdb57e3-56f6-4829-bde6-0d109b21127f">Merchello</Parent>
    <Path>/Merchello/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2025-12-31T13:24:16</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8578761b-c118-4cdc-8a73-19818f5082b2">Basket</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Basket]]></Value>
    </pageTitle>
  </Properties>
</Content>