<?xml version="1.0" encoding="utf-8"?>
<Content Key="58d39dea-efcb-4ec1-ada5-45d931f81d4a" Alias="Basket" Level="2">
  <Info>
    <Parent Key="5740336d-ee41-4c37-a605-876265454ba3">Merchello</Parent>
    <Path>/Merchello/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2025-12-23T13:13:40</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4a8313d2-5515-42dd-aad3-50b341db8974">Basket</Template>
  </Info>
  <Properties />
</Content>