<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b911aa8-6b92-4f5a-9d42-14ff8cf65452" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="866a89b9-1062-4884-83d6-85dac559fe52">Merchello</Parent>
    <Path>/Merchello/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-01T13:43:05</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c1970-01a5-77e6-bf01-d516f28e76bb">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[14c4978b-5c1a-4505-9ff9-37e0804f8ab4]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>