<?xml version="1.0" encoding="utf-8"?>
<Content Key="9235a778-d259-4587-940d-7205e8703418" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="2bdb57e3-56f6-4829-bde6-0d109b21127f">Merchello</Parent>
    <Path>/Merchello/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-12-31T13:25:00</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee94547b-e942-4e51-a733-598cc67c1fb0">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[ce6e4e84-1cc8-4ca3-9760-9d5fdf9faa5a]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>