<?xml version="1.0" encoding="utf-8"?>
<Content Key="f46f69e8-b9b9-411b-9b87-bd591ed57a9f" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="e0ae8d32-e641-4913-8a0b-e712ae8ce44c">Website</Parent>
    <Path>/Website/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-10T07:29:26</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c4672-d74a-765b-a040-c4a6606e730e">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[bc0d8a27-9680-432b-bfff-d7439dd1eec2]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>