<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f8e8908-7d54-4af4-9a72-7459eb3d0d3d" Alias="Clothing" Level="2">
  <Info>
    <Parent Key="7c681bab-458a-4a66-a36c-52af5ad31fae">Merchello</Parent>
    <Path>/Merchello/Clothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-09T09:39:01</CreateDate>
    <NodeName Default="Clothing" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c4672-d74a-765b-a040-c4a6606e730e">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[20c4a969-9578-4cd5-86c5-8191dbca1b81]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>