<?xml version="1.0" encoding="utf-8"?>
<Content Key="73b9c340-663f-4b75-8458-448f7b48ff80" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="866a89b9-1062-4884-83d6-85dac559fe52">Merchello</Parent>
    <Path>/Merchello/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-01T13:43:18</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c1970-01a5-77e6-bf01-d516f28e76bb">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[c715a3e0-c14b-46ee-81cb-2591fe8ef457]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>