<?xml version="1.0" encoding="utf-8"?>
<Content Key="da2652fe-4846-45c3-b0f3-1144873878be" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="e0ae8d32-e641-4913-8a0b-e712ae8ce44c">Website</Parent>
    <Path>/Website/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-10T07:29:39</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c4672-d74a-765b-a040-c4a6606e730e">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[a1226349-1219-4951-acab-fa7f960eb42a]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>