<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4779703-4ced-49bd-9e3e-b580dfae8b3d" Alias="Digital Products" Level="2">
  <Info>
    <Parent Key="7c681bab-458a-4a66-a36c-52af5ad31fae">Merchello</Parent>
    <Path>/Merchello/DigitalProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-02-09T09:39:12</CreateDate>
    <NodeName Default="Digital Products" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c41c2-fb65-7ffb-a191-8fb95a52fb99">Category</Template>
  </Info>
  <Properties>
    <collection>
      <Value><![CDATA[2703521d-f52f-4087-870b-230c1c8f1ce4]]></Value>
    </collection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>