<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebcc6114-4462-46b3-b0a5-86ba4c44a17a" Alias="Home" Level="2">
  <Info>
    <Parent Key="866a89b9-1062-4884-83d6-85dac559fe52">Merchello</Parent>
    <Path>/Merchello/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-02-01T13:42:19</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c196f-40a3-7374-9027-5d201d5f09f5">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>