<?xml version="1.0" encoding="utf-8"?>
<Content Key="e971d68c-577d-42df-9d95-011156ed7173" Alias="Home" Level="2">
  <Info>
    <Parent Key="2bdb57e3-56f6-4829-bde6-0d109b21127f">Merchello</Parent>
    <Path>/Merchello/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-12-31T13:24:03</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4eb7acb4-0a1b-4062-a3d8-ea14b26457ce">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Home Page Title]]></Value>
    </pageTitle>
  </Properties>
</Content>