<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ccd8018-7d8c-4a80-a98f-598a0b541861" Alias="Home" Level="2">
  <Info>
    <Parent Key="e0ae8d32-e641-4913-8a0b-e712ae8ce44c">Website</Parent>
    <Path>/Website/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-02-10T07:28:37</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c4672-364e-70ac-b513-ffd06c4c9afb">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>