<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdc8dcfb-7136-4d3e-bf3f-322480c31e4e" Alias="Home" Level="2">
  <Info>
    <Parent Key="5740336d-ee41-4c37-a605-876265454ba3">Merchello</Parent>
    <Path>/Merchello/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-12-23T13:12:52</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c3f42ed9-7313-454f-a70c-d23cbc931b7f">Home</Template>
  </Info>
  <Properties />
</Content>