<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ce4ef95-4e75-4acc-ac34-fcaaa24e5af3" Alias="Home" Level="2">
  <Info>
    <Parent Key="7c681bab-458a-4a66-a36c-52af5ad31fae">Merchello</Parent>
    <Path>/Merchello/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-02-09T09:38:19</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c4672-364e-70ac-b513-ffd06c4c9afb">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>