<?xml version="1.0" encoding="utf-8"?>
<Content Key="5740336d-ee41-4c37-a605-876265454ba3" Alias="Merchello" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Merchello</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2025-12-23T13:12:42</CreateDate>
    <NodeName Default="Merchello" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/bdc8dcfb71364d3ebf3f322480c31e4e]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>