<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c681bab-458a-4a66-a36c-52af5ad31fae" Alias="Merchello" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Merchello</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2026-02-09T09:38:09</CreateDate>
    <NodeName Default="Merchello" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c41c2-016d-7293-a88b-7d64ea659564">Website</Template>
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/4ce4ef954e754accac34fcaaa24e5af3]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>