<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0ae8d32-e641-4913-8a0b-e712ae8ce44c" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2026-02-10T07:28:29</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c4671-eaab-7a0f-862d-b47eba54185d">Website</Template>
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/9ccd80187d8c4a80a98f598a0b541861]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>