<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad06fffe-523f-494c-a32e-65f1ab2d256e" Alias="Beds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Beds</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-05T13:09:53</CreateDate>
    <NodeName Default="Beds" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>