<?xml version="1.0" encoding="utf-8"?>
<Media Key="83f97700-491b-4718-aa5b-c37af1b59563" Alias="c-conti-drawer.png" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/cContiDrawerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="c-conti-drawer.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r44l4nls/c-conti-drawer.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>