<?xml version="1.0" encoding="utf-8"?>
<Media Key="74bc6d05-bfa7-4c8a-90c3-4fee9fec53c8" Alias="charcoal.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/charcoaljpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="charcoal.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rktpvqwo/charcoal.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>