<?xml version="1.0" encoding="utf-8"?>
<Media Key="688c3bdb-bbc9-4e65-9155-9fc7075b0a18" Alias="d-four-drawer.png" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/dFourDrawerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:19</CreateDate>
    <NodeName Default="d-four-drawer.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ktynvxva/d-four-drawer.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>