<?xml version="1.0" encoding="utf-8"?>
<Media Key="164d3538-1194-43dc-aebe-9a3d4e0a8d10" Alias="deselect.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/deselectjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="deselect.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w55bxih3/deselect.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>