<?xml version="1.0" encoding="utf-8"?>
<Media Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7" Alias="Divans" Level="2">
  <Info>
    <Parent Key="471940e1-02bb-4df0-b12f-fd657d1b393a">Beds</Parent>
    <Path>/Beds/Divans</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-05T07:26:09</CreateDate>
    <NodeName Default="Divans" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>