<?xml version="1.0" encoding="utf-8"?>
<Media Key="00baa730-2e13-438a-8f13-4677b3a7401b" Alias="Divans" Level="2">
  <Info>
    <Parent Key="ad06fffe-523f-494c-a32e-65f1ab2d256e">Beds</Parent>
    <Path>/Beds/Divans</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-05T13:10:47</CreateDate>
    <NodeName Default="Divans" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>