<?xml version="1.0" encoding="utf-8"?>
<Media Key="d62b2c87-2f6c-49b5-b44d-cfe20d3d8a8c" Alias="duckegg.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/duckeggjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="duckegg.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bdtg0yaf/duckegg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>