<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0e2ff11-17ed-4034-8e54-40eb8a516a41" Alias="g-side-drawer.png" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/gSideDrawerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="g-side-drawer.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ty0libue/g-side-drawer.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>