<?xml version="1.0" encoding="utf-8"?>
<Media Key="b33d8e9f-8482-4e01-b2e2-510e4552f998" Alias="g-side-drawer.png" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/gSideDrawerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:19</CreateDate>
    <NodeName Default="g-side-drawer.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cbchwbpl/g-side-drawer.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>