<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdfc8323-d058-4bbd-bd1e-e9f27b57a48f" Alias="h-suitcase-storage.png" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/hSuitcaseStoragepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:20</CreateDate>
    <NodeName Default="h-suitcase-storage.png" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vreluczr/h-suitcase-storage.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>