<?xml version="1.0" encoding="utf-8"?>
<Media Key="edebb8bf-b1aa-4ee7-8710-57b95510501a" Alias="Hello" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hello</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-16T17:28:06</CreateDate>
    <NodeName Default="Hello" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>