<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ea22839-7026-4b5b-8176-cdbc32a56209" Alias="Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-16T17:25:52</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/w1rojccp/icons.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>