<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2622b86-8613-4d54-ac0c-acae4a215481" Alias="j-suitcase-storage.png" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/jSuitcaseStoragepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:20</CreateDate>
    <NodeName Default="j-suitcase-storage.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bhqdird0/j-suitcase-storage.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>