<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fe695a8-5c87-42b3-9d6e-fbf4099985e0" Alias="linosa.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/linosajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:23</CreateDate>
    <NodeName Default="linosa.jpg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/e3plakpo/linosa.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>