<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0f22f0d-a80f-4d08-a0c2-6c64f3dfe048" Alias="linosa.jpg" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/linosajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:19</CreateDate>
    <NodeName Default="linosa.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qlsliftg/linosa.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>