<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ef13635-98d1-40d2-b412-3dbad9e21cfc" Alias="marine.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/marinejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="marine.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xl4loofy/marine.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>