<?xml version="1.0" encoding="utf-8"?>
<Media Key="2203d05e-0382-4edb-8b6f-3ba993005635" Alias="mocha.jpg" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/mochajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:19</CreateDate>
    <NodeName Default="mocha.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0enelfhl/mocha.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>