<?xml version="1.0" encoding="utf-8"?>
<Media Key="65333cc9-646e-4809-8581-c5b0202338ca" Alias="p-side-drawer.png" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/pSideDrawerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="p-side-drawer.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/i11hluyh/p-side-drawer.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>