<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fa15196-287e-4e86-ae90-41770d80ac7a" Alias="platinum.jpg" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/platinumjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:19</CreateDate>
    <NodeName Default="platinum.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dgnppkix/platinum.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>