<?xml version="1.0" encoding="utf-8"?>
<Media Key="a516de41-5d0c-4f87-9f92-defee658e81d" Alias="pocket-dream-1000-4.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/pocketDream10004jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="pocket-dream-1000-4.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zykfae1f/pocket-dream-1000-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>