<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d3088b3-e44f-4d3d-a987-87606a5620a5" Alias="pocket-dream-1000-5.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/pocketDream10005jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="pocket-dream-1000-5.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hrbhmozg/pocket-dream-1000-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>