<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5a12017-810e-4ee8-b635-68372e0e60b0" Alias="pocket-dream-1000.jpg" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/pocketDream1000jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:20</CreateDate>
    <NodeName Default="pocket-dream-1000.jpg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tdvooa1h/pocket-dream-1000.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>