<?xml version="1.0" encoding="utf-8"?>
<Media Key="d161d39f-d54f-4eae-901d-3300ebfc27f2" Alias="pocket-dream-1000-1.jpg" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/pocketDream10001jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:19</CreateDate>
    <NodeName Default="pocket-dream-1000-1.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/camdozzg/pocket-dream-1000-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>