<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6" Alias="Pocket Dream 1000" Level="3">
  <Info>
    <Parent Key="00baa730-2e13-438a-8f13-4677b3a7401b">Divans</Parent>
    <Path>/Beds/Divans/PocketDream1000</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-05T13:11:07</CreateDate>
    <NodeName Default="Pocket Dream 1000" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>