<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a9cb7e9-d6c1-432a-91a2-1e2036481854" Alias="pocket-dream-1000-5.jpg" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/pocketDream10005jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:19</CreateDate>
    <NodeName Default="pocket-dream-1000-5.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mz4nvtfi/pocket-dream-1000-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>