<?xml version="1.0" encoding="utf-8"?>
<Media Key="e195da73-f94b-4f8f-896b-01b193b0b58c" Alias="pocket-dream-1000.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/pocketDream1000jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="pocket-dream-1000.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5qingvzc/pocket-dream-1000.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>