<?xml version="1.0" encoding="utf-8"?>
<Media Key="5df89207-b1b9-4fc1-9c56-6fa252acf2da" Alias="pocket-dream-1000-4.jpg" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/pocketDream10004jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:19</CreateDate>
    <NodeName Default="pocket-dream-1000-4.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rbml304q/pocket-dream-1000-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>