<?xml version="1.0" encoding="utf-8"?>
<Media Key="38d83345-f351-4f4e-be7c-c3704e5ad4a6" Alias="pocket-dream-1000-3.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/pocketDream10003jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="pocket-dream-1000-3.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zl2j3dry/pocket-dream-1000-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>