<?xml version="1.0" encoding="utf-8"?>
<Media Key="690169d8-67e5-42d6-b91a-266bf213e54e" Alias="pocket-dream-1000-3.jpg" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/pocketDream10003jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:19</CreateDate>
    <NodeName Default="pocket-dream-1000-3.jpg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k4rfpx2m/pocket-dream-1000-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>