<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e3acf73-5ec8-4e21-8122-41c79d257f3f" Alias="pocket-dream-1000-1.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/pocketDream10001jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="pocket-dream-1000-1.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5qchzofb/pocket-dream-1000-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>