<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4e73cce-6f12-4b69-9e9e-d9af575a4a5a" Alias="slate.jpg" Level="4">
  <Info>
    <Parent Key="7f5a7fea-3b87-4c2f-ad5f-d2b5059524d6">Pocket Dream 1000</Parent>
    <Path>/Beds/Divans/PocketDream1000/slatejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T13:11:19</CreateDate>
    <NodeName Default="slate.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ih1kcat1/slate.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>