<?xml version="1.0" encoding="utf-8"?>
<Media Key="b186935b-d479-4d96-addd-fcf922a00dba" Alias="stone.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/stonejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:23</CreateDate>
    <NodeName Default="stone.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0rmnabyq/stone.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>