<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d7eb5c7-a42a-4c66-893a-5c2d757ee061" Alias="truffle.jpg" Level="3">
  <Info>
    <Parent Key="92ffd261-6bad-4d0b-a8a8-aa3126d54ba7">Divans</Parent>
    <Path>/Beds/Divans/trufflejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T07:30:22</CreateDate>
    <NodeName Default="truffle.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jb5dr00d/truffle.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>