<?xml version="1.0" encoding="utf-8"?>
<DataType Key="058535d5-1d93-4695-bd19-5c6ed01f6d92" Alias="Merchello Category Picker (Single)" Level="1">
  <Info>
    <Name>Merchello Category Picker (Single)</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Merchello.PropertyEditorUi.CollectionPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxItems": 1
}]]></Config>
</DataType>