<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0293f7aa-0894-44af-a24b-df6814e31f39" Alias="Merchello Collection Picker [Single]" Level="1">
  <Info>
    <Name>Merchello Collection Picker [Single]</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Merchello.PropertyEditorUi.CollectionPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxItems": 1
}]]></Config>
</DataType>