<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00699767-bc88-4e33-8c85-c7426873b5d4" Alias="Merchello Collection Picker [Single]" Level="1">
  <Info>
    <Name>Merchello Collection Picker [Single]</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Merchello.PropertyEditorUi.CollectionPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxItems": 1
}]]></Config>
</DataType>