<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f4d393f-4428-406a-be44-b01c700a78f6" Alias="Merchello Collection Picker (Single)" Level="1">
  <Info>
    <Name>Merchello Collection Picker (Single)</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Merchello.PropertyEditorUi.CollectionPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxItems": 1
}]]></Config>
</DataType>