<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7cfdad66-1780-407e-80ba-b28a3a505e96" Alias="Multiple Text String" Level="1">
  <Info>
    <Name>Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>