<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b4bb973-31e4-4b46-986d-04f622979990" Alias="Multiple Text String" Level="1">
  <Info>
    <Name>Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>